header {
    text-align: center;
    position: sticky;
    border-radius: 50px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(233, 229, 192);
}


body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-image: url(assets/ChatGPT\ Image\ 7\ de\ abr.\ de\ 2026\,\ 11_59_43.png);
    background-size: cover;
}

div{
    margin: 20px;
}